@import "/home/wahid/.cache/wal/colors-waybar.css";

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 11pt;
  color: @foreground;
}


/* main waybar */
window#waybar {
  background: @background;
}

/* when hovering over modules */
tooltip {
  background: #1e1e2e;
  border-radius: 5%;
}

#workspaces button {
  padding: 2px;
}

/* Sets active workspace to have a solid line on the bottom */
#workspaces button.active {
  border-bottom: 3px solid @color2;
  border-radius: 0;
  margin-top: 3px;
  transition: all 0.5s ease-in-out;
}

/* More workspace stuff for highlighting on hover */
#workspaces button.focused {
  color: @color0;
}

#workspaces button.urgent {
  color: @color8;
}

#workspaces button:hover {
  background: @color4;
  color: @color3;
}

/* Sets background, padding, margins, and borders for (all) modules */
#workspaces,
#clock,
#window,
#temperature,
#cpu,
#memory,
#wireplumber,
#tray,
#network,
#battery {
  padding: 0 10px;
  border: 0;
	/* margin-top: 4px; */
}

#workspaces {
  padding-right: 0px;
}

/* Hide window module when not focused on window or empty workspace */
window#waybar.empty #window {
  padding: 0;
  margin: 0;
  opacity: 0;
}

/* Set up rounding to make these modules look like separate pills */
#tray {
  border-radius: 12px;
  margin-right: 4px;
}

#window {
  border-radius: 12px;
}

#clock {
    border-radius: 0 10px 10px 0;
}

/* close left side of bar */
#battery {
  border-radius: 12px 0 0 12px;
}

/* close right side of bar */
#network {
    padding:0 20px;
}

