window {
    margin: 0px;
    background-color: #282a36;
    border-radius: 5px;
    border: 2px solid #1199ff;
}

#input {
    margin: 5px;
    border: none;
    color: #FFFFFF;
    background-color: #44475a;
    border-radius: 5px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282a36;
    border-radius: 5px;
}

#outer-box {
    margin: 15px;
    border: none;
    background-color: #282a36;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #1199ff;
} 

#entry:selected {
    background-color: #44475a;
    border-radius: 5px;
    outline: none;
}

#entry:selected * {
    background-color: #44475a;
    border-radius: 5px;
    outline: none;
}
